body{
    background-color: rgb(66, 69, 73);
    color: white;
}
h1{
    font-family:'Courier New', Courier, monospace;
    color: white;
}
nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}
footer{
    text-align: center;
    /* I dont like how this offsets the footer from the header so its gooooooone
    margin-right: 200px;*/
}
#IndexMeme{
    margin-right: 200px;
}
header{
    text-align: center;
}